<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<!--    放个人信息，研究方向，简单简历。-->
<li><a href="/publications">Publications</a></li>
<!--    发表的文章，有文章链接以及代码链接-->
<li><a href="/activities">Activities</a>
<!--按时间顺序参加了什么会议-->
<!--    课题组团建时间顺序-->
    
</ul>
    </nav>
      
<div class="container">

  {{ content }}

</div>
  
<!--
  <footer>
   <ul>
   <li><a href="mailto:arik.cj@gmail.com">email</a></li>
   </ul>
  </footer>
-->
    <div class="footer">
        <div class="contact">

            <a target="_blank" rel="noopener" href="mailto:arik.cj@gmail.com">
                <img src="../static/gmail.svg">
            </a>
            <a target="_blank" rel="noopener" href="https://github.com/arikcj">
                <img src="https://cdn.jsdelivr.net/gh/duogongneng/MyBlogImg/imggithub.png">
            </a>

        </div>
    </div>
      
      
  </body>

</html>
